.tipFeedNoData {
    width: 100%;
    background-color: white;
    padding: 22px 30px 17px;
    display: flex;
    justify-content: center;
    min-height: 147px;
    animation: fadeIn 0.4s;
}

.sadNoTips {
    width: 70px;
    height: 112px;
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('ui/images/no-tips@1x.png');
}

.noDataText {
    font-family: Hind;
    color: #b8ccdc;
    font-size: 14px;
    height: 112px;
    width: calc(100% - 70px);
    max-width: 240px;
    text-align: left;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.noDataHeading {
    color: #404862;
    font-size: 15px;
}

.noDataMessage {
    font-family: 'Hind', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

@media (min-width: 480px) {
    .noDataText {
        max-width: 315px;
    }
}

@media (min-width: 1024px) {
    .sadNoTips {
        width: 80px;
    }

    .noDataText {
        width: calc(100% - 80px);
        padding-left: 25px;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
