.tipsLayout {
    background-color: white;
    border-style: solid;
    border-color: #E6EDF3;
    border-width: 2px 0;
}

.sortHeader {
    padding: 20px 15px;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(245, 248, 250, 0.95);
}

.mobileFilterContent {
    background-color: rgba(245, 248, 250, 0.95);
}

.mobileFilter ul {
    left: -25%;
}

@media (min-width: 768px) {
    .tipsLayout {
        border: 2px solid #E6EDF3;
    }

    .sortHeader {
        border-bottom: 2px solid #E6EDF3;
        background-color: white;
    }
}