.item {
    display: flex;
    padding: 35px 30px 0 30px;
    background-color: white;
    transition: background-color 0.2s;
}

.new {
    background-color: rgba(103,185,246,0.08);
}

.item circle {
    fill: none;
    stroke: #D5D9E5;
}

.new circle {
    stroke: #67B9F6;
}

.item path {
    stroke: none;
    fill: #67B9F6;
}

.iconWrapper {
    width: 40px;
}

.bodyWrapper {
    width: calc(100% - 40px);
    padding: 0 0 30px 25px;
    border-bottom: 1px solid #E6EDF3;
}

.item:last-child .bodyWrapper {
    border-bottom: 0;
}

.factorName {
    color: #67B9F6;
    font-family: Hind;
    font-weight: bold;
    margin-bottom: 4px;
    cursor: pointer;
}

.factorName:hover {
    color: #56A8E5;
}

.content {
    font-family: Hind;
    color: #404862;
    font-size: 17px;
    margin-bottom: 6px;
}

.actions {

}

.timeAgo {
    color: #A9B8CA;
}

.voteButton {
    background-color: transparent;
    border: 0;
    outline: none;
    color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 14px auto;
    width: 20px;
    padding: 0 0 0 0;
    opacity: 0.8;
}

.voteButton:hover, .voteButton:active, .voteButton:focus {
    background-color: transparent;
}

.upvote {
    composes: voteButton;
    background-image: url('ui/images/upvote.png');
    margin-left: 15px;
    transition: all 0.2s;
}

.downvote {
    composes: voteButton;
    background-image: url('ui/images/downvote.png');
    margin-left: 5px;
    transition: all 0.2s;
}

.dismiss {
    composes: voteButton;
    color: #67B9F6;
    margin-left: 15px;
    opacity: 1;
}

.active {
    opacity: 1;
}

.downvote.active {
    background-image: url('ui/images/downvote-active.png');
}

.upvote.active {
    background-image: url('ui/images/upvote-active.png');
}

.contentTip {
    margin-bottom: 7px;
    display: flex;
    margin-top: 12px;
}

.figure {
    width: 24px;
    height: 24px;
    display: inline-block;
    border-radius: 4px;
    overflow: hidden;
}

.figure img {
    width: 100%;
    height: 100%;
}

.linkContent {
    display: inline-block;
    padding-left: 10px;
    padding-top: 2px;
    max-width: 80%;
    word-wrap: break-word;
}

.linkText {
    color: #67b9f6;
    font-weight: bold;
    font-size: 13px;
    font-family: 'Hind', Helvetica, Arial, sans-serif;
}

@media (min-width: 1024px) {
    .iconWrapper {
        width: 44px;
    }

    .bodyWrapper {
        width: calc(100% - 44px);
    }
}